<nav class="subnav" aria-label="Modules navigation">
  <div class="container subnav-inner">
    <a class="subnav-link" data-subnav="getting-started" href="getting_started.html">Getting Started</a>
    <a class="subnav-link" data-subnav="s1" href="sprint1.html">S1: Define a Problem / Wonder</a>
    <a class="subnav-link" data-subnav="s2" href="sprint2.html">S2: Ideation / Plan</a>
    <a class="subnav-link" data-subnav="s3" href="sprint3.html">S3: Prototyping</a>
    <a class="subnav-link" data-subnav="s4" href="sprint4.html">S4: MVP / Analysis</a>
    <a class="subnav-link" data-subnav="s5" href="sprint5.html">S5: Presentation Prep</a>
    <a class="subnav-link" data-subnav="w" href="wrap_up.html">Defend</a>
  </div>
</nav>
